nav {
    height: 165px;
}

ul.navbar-nav {
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
}

nav .container {
    height: 100%
}

.main {
    background-image: url('../assets/images/bg_4.jpg')
}

.active a {
    font-size: 20px
}

.viewport {
    margin-top: 250px;
}

.logo {
    width: 230px;
    height: 230px;
    background-size: 230px auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 3em auto auto;
    background-image: url('../assets/images/logo.png')
}

.navbar-brand h1,
.navbar-brand a {
    margin: 0px;
}