<nav class="navbar navbar-transparent" role="navigation">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
            <h1>
                <img src="./assets/images/logo.png" width="120" height="120" alt="Eu Me Importo Sim">
            </h1>
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a></li>
            <li role="presentation" routerLinkActive="active"><a [routerLink]="['/cadastro']">Cadastro</a></li>
            <li role="presentation" routerLinkActive="active"><a [routerLink]="['/info']">Info</a></li>
        </ul>
    </div>
</nav>

<div class="main ">
</div>
<div class="cover black " data-color="black "></div>

<div class="container viewport ">
    <div class="row ">
        <div class="container ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<footer class="footer ">
    <span>Diretoria de Missões da Região Sudeste da Igreja de Deus no Brasil</span>
</footer>