<form class="well form-horizontal" #form="ngForm" (ngSubmit)="onSubmit(form)" id="contact_form">
    <fieldset>
        <legend>Faça se Cadastro</legend>
        <div class='row col-md-12'>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Nome</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="first_name" #firstname ngModel required placeholder="Primeiro Nome" class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="!firstname.valid && firstname.touched">Insira o Nome</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Sobrenome</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="last_name" #lastname ngModel required placeholder="Sobrenome" class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="!lastname.valid && lastname.touched">Insira o Sobrenome</span>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">RG</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="rg" #rg ngModel required placeholder="RG" class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="!rg.valid && rg.touched">Insira o RG</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">CPF</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="cpf" #cpf ngModel [value]="30219630801" required placeholder="CPF" [textMask]="{mask:maskCPF}" (blur)="CpfIsValid(cpf.value)" class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="!cpf.valid && cpf.touched">Insira o CPF</span>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" #email ngModel required placeholder="E-Mail Address" class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="!email.valid && email.touched">Insira nome válido</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">CEP</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <span *ngIf="loadingCEP" class="input-group-addon"><i class="fa fa-refresh fa-spin fa-lg fa-fw"></i></span>
                        <input #cep name="cep" #cep ngModel required placeholder="CEP" [textMask]="{mask:maskCEP}" (blur)="buscarCep(cep.value)" placeholder="00000-000" class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="!cep.valid && cep.touched">Insira nome válido</span>
                </div>
            </div>


        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Telefones</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone fa-lg"></i></span>
                        <input name="foneRes" #foneres ngModel placeholder="(00)0000-0000" [textMask]="{mask:maskPhone}" class="form-control" type="text">
                    </div>
                    <div class="input-group">

                        <span class="input-group-addon"><i class="fa fa-whatsapp fa-lg"></i></span>
                        <input name="celular" #celular ngModel placeholder="(99)99999-9999" [textMask]="{mask:maskMobile}" class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="telefoneInvalido">Insira nome válido</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Endereço</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="endereco" #enderecoField [ngModel]="endereco" required placeholder="Endereço" class="form-control" type="text">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">Número</span>
                        <input name="endereco_numero" #endecoNumero ngModel placeholder="Número" required class="form-control" type="text">
                        <span class="input-group-addon">Compl.</span>
                        <input name="endereco_complemento" #endecoComplemento ngModel placeholder="Número" class="form-control" type="text">

                    </div>
                    <span class="help-block" *ngIf="!enderecoField.valid && !endecoNumero.valid && enderecoField.touched && !endecoNumero.touched">Insira nome válido</span>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Cidade</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="cidade" #cidadeField [ngModel]="cidade" placeholder="Cidade" required class="form-control" type="text">
                    </div>
                    <span class="help-block" *ngIf="!cidadeField.valid && cidadeField.touched">Insira nome válido</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Estado</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="estado" #estadoField [ngModel]="estado" required class="form-control">
							<option value="" >Selecione seu estado</option>
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espírito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MT">Mato Grosso</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
                    </div>
                    <span class="help-block" *ngIf="!estadoField.valid && estadoField.touched">Insira nome válido</span>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-offset-6">
                <button type="submit" class="btn btn-primary">Enviar <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>
    </fieldset>
</form>