.well {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.5);
}

.input-group input.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty {
    border: 1px solid rgb(255, 149, 0);
    background: rgba(255, 149, 0, 0.2);
    color: #313131
}

.help-block {
    background: rgba(255, 149, 40, .5);
    border-radius: 14px;
    padding-left: 8px;
    font-style: italic;
}

@media (min-width: 992px) {
    select {
        /*max-width: 265px;*/
    }
    .selectContainer {
        /* padding-left: 2%;
        max-width: 63.5%;*/
    }
    .nextSelectContainer {
        /* width: 48.4%;*/
    }
    .nextSelectContainer label {
        /*width: 31%;*/
    }
}