.well {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.5);
}

input.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty {
    border: 1px solid rgb(232, 74, 84);
    background: rgba(232, 74, 84, 0.3);
    color: #F1f1f1
}

@media (min-width: 992px) {
    select {
        /*max-width: 265px;*/
    }
    .selectContainer {
        /* padding-left: 2%;
        max-width: 63.5%;*/
    }
    .nextSelectContainer {
        /* width: 48.4%;*/
    }
    .nextSelectContainer label {
        /*width: 31%;*/
    }
}