<form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

        <!-- Form Name -->
        <legend>Faça seu cadastro</legend>

        <div class='row col-md-12'>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="first_name" placeholder="First Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Last Name</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Phone #</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">

            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="address" placeholder="Address" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">City</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="city" placeholder="city" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="row-col-md-12">

            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">State</label>
                <div class="col-md-8 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="state" class="form-control selectpicker">
							<option value=" " >Please select your state</option>
							<option>Alabama</option>
							<option>Alaska</option>
							<option >Arizona</option>
							<option >Arkansas</option>
							<option >California</option>
							<option >Colorado</option>
							<option >Connecticut</option>
							<option >Delaware</option>
							<option >District of Columbia</option>
							<option> Florida</option>
							<option >Georgia</option>
							<option >Hawaii</option>
							<option >daho</option>
							<option >Illinois</option>
							<option >Indiana</option>
							<option >Iowa</option>
							<option> Kansas</option>
							<option >Kentucky</option>
							<option >Louisiana</option>
							<option>Maine</option>
							<option >Maryland</option>
							<option> Mass</option>
							<option >Michigan</option>
							<option >Minnesota</option>
							<option>Mississippi</option>
							<option>Missouri</option>
							<option>Montana</option>
							<option>Nebraska</option>
							<option>Nevada</option>
							<option>New Hampshire</option>
							<option>New Jersey</option>
							<option>New Mexico</option>
							<option>New York</option>
							<option>North Carolina</option>
							<option>North Dakota</option>
							<option>Ohio</option>
							<option>Oklahoma</option>
							<option>Oregon</option>
							<option>Pennsylvania</option>
							<option>Rhode Island</option>
							<option>South Carolina</option>
							<option>South Dakota</option>
							<option>Tennessee</option>
							<option>Texas</option>
							<option> Uttah</option>
							<option>Vermont</option>
							<option>Virginia</option>
							<option >Washington</option>
							<option >West Virginia</option>
							<option>Wisconsin</option>
							<option >Wyoming</option>
							</select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">Zip Code</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="zip" placeholder="Zip Code" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="row col-md-12">
            <!-- Text input-->
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">RG</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input name="website" placeholder="Website or domain name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-4 control-label">CPF</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input name="website" placeholder="Website or domain name" class="form-control" type="text">
                    </div>
                </div>
            </div>

        </div>


        <!-- Button -->

        <div class="row col-md-12">
            <div class="col-md-offset-6">

                <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>

            </div>
        </div>


    </fieldset>
</form>